<ion-header>
  <ion-toolbar>
    <ion-title>Tabla de Multiplicar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Número</ion-label>
    <ion-input type="number" [(ngModel)]="numero"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="generarTabla()">Generar</ion-button>

  <ion-list>
    <ion-item *ngFor="let resultado of resultados; let i = index">
      {{ numero }} x {{ i+1 }} = {{ resultado }}
    </ion-item>
  </ion-list>
</ion-content>
